<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ユーザー</th>
      <th scope="col">内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <th scope="row"><%= post.user_id %></th>
        <td><%= post.content %></td>
        <td><%= link_to '投稿詳細', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
